<%- include('partials/header.ejs') %>
<!-- update -->
<div class="container">
    <h1>Edit Cohort</h1>
    <form method="POST" action="/cohorts/<%= cohort.id %>">
        <input type="hidden" name="_method" value="PATCH" />
        
        <div class="form-group">
                <input
                    type="text"
                    class="form-control"
                    name="title"
                    value="<%=cohort.name%>"

                />
            </div>
            <div class="form-group">
                <input 
                    type="url"
                    class="form-control" 
                    name="imageUrl" 
                    value="<%= cohort.logoUrl %>"
                />
            </div>
    
            <div class="form-group">
                    <input 
                        type="text" 
                        value="<%=cohort.members%>"
                        class="form-control" 
                        name="content" 

                    />
            </div>

      <input type="submit" class="btn btn-outline-success" value="Submit" />
    </form>
</div>
<%- include('partials/footer.ejs') %>